<div class="d-flex justify-content-center">
  <div class="confirmation text-center container-fluid">
    <img src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
    <div class="card-body mt-5">
      <h5 class="card-title">Thank you for booking <%=@booking.listing.title%></h5>
      <p class="card-text">Now go out there and shred those waves!!</p>
      <%= link_to "home", root_path, class:"btn-form"%>
    </div>
  </div>
</div>
