<div class="home-background">
  <div class="title-search-container" style="display: block;">
    <div class="bg-transparent" style="display: flex; justify-content: center;">
      <h5 class="home-header">What type of board are you looking for?</h5>
    </div>
    <div class="form-box">
      <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.select :category, Listing.categories.keys.map(&:capitalize), prompt: "Select a category", class: "form-box" %>
      <%= f.submit "Search", class: "btn-blue" %>
      <% end %>
    </div>
  </div>
</div>
