#search_category {
  height: 38px;
  width: 250px;
  border-radius: 20px 0 0 20px;
  border-width: 0px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-right: -6px;
  color: rgb(107, 107, 107);
}

.form-box {
  display: flex;
  vertical-align: middle;
}

select {
  outline: none;
}

.container-form {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

#new_listing {
  width: 80%;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
}

#listing_category {
  margin-bottom: 16px;
  background-color: #F4F4F4;
  color: #6C757D;
  border: 1px solid #ced4da;
  border-radius: 2px;
  height: 40px;
  padding-left: 7px;
}

.text-right {
  text-align: end;
  margin-top: -6px;
}

#listing_photos {
  color: #6C757D;
}

.text-signed-up {
  font-size: 12px;
  color: #6C757D;
  padding-right: 5px;
}
