.navbar-getaboard {
  justify-content: space-between;
  background: white;
}

.navbar-getaboard .navbar-collapse {
  flex-grow: 0;
}

.navbar-getaboard .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
  border-radius: 6px;
}

.navbar-brand {
  display: flex;
}

.nav-item {
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: smaller;
  }
}
