.navbar-getaboard {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // position: sticky;
  // top: 0;
  // z-index: 1000;
}

.navbar-getaboard .navbar-collapse {
  flex-grow: 0;
}

.navbar-getaboard .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
  border-radius: 6px;
}

.navbar-brand {
  display: flex;
}

.nav-item {
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: smaller;
  }
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.navbar-nav {
  margin-right: 1vw;
}
